Repository tiagoporto/svg-music-logos: changes, and which lefthook commands are due for each by the changed paths.
All: format, doc-lint, typecheck, markdown-lint, html-yml-json-lint, js-ts-eslint, test, styles-lint

format:
  run: npm exec -- prettier --write --ignore-unknown {staged_files}
  stage_fixed: true

doc-lint:
  run: npm exec -- remark --frail {staged_files}

typecheck:
  run: npm exec --  npx nuxi typecheck

markdown-lint:
  run: npm exec -- eslint --max-warnings 0 --no-warn-ignored {staged_files}

html-yml-json-lint:
  run: npm exec -- eslint --max-warnings 0 --no-warn-ignored {staged_files}

js-ts-eslint:
  run: npm exec -- eslint --max-warnings 0 --no-warn-ignored {staged_files}

test:
  run: npm exec -- vitest related --run --passWithNoTests {staged_files}

styles-lint:
  run: npm exec -- stylelint {staged_files}

Update eslint packages
  package-lock.json
  package.json
  shared/utils/filter-artists.ts
  shared/utils/filter-genres.ts
  shared/utils/filter-logos.ts
  shared/utils/filter-origins.ts
Due: format, typecheck, html-yml-json-lint, js-ts-eslint, test

Add variation card color
  app/components/Card/Card.vue
  logos/pearl-jam/pearl-jam.json
  server/api/artist/[artistId].get.ts
  shared/schema.ts
  shared/utils/filter-artists.ts
  shared/utils/filter-logos.ts
Due: format, typecheck, html-yml-json-lint, js-ts-eslint, test, styles-lint

Set node engine 22 to follow vercel version
  package.json
Due: format, html-yml-json-lint

Organize tests
  eslint.config.mjs
  playwright.config.ts
  test/e2e/artist.spec.ts
  test/e2e/home.spec.ts
  test/unit/shared/utils/filter-artists.test.ts
  test/unit/shared/utils/filter-genres.test.ts
  test/unit/shared/utils/filter-logos.test.ts
  test/unit/shared/utils/filter-origins.test.ts
  tsconfig.root.json
  vitest.config.ts
Due: format, typecheck, html-yml-json-lint, js-ts-eslint, test

Add api test
  test/unit/server/api/artists.get.test.ts
  test/unit/server/api/origins.get.test.ts
  tsconfig.root.json
Due: format, typecheck, html-yml-json-lint, js-ts-eslint, test

Generate data before unit tests
  .github/workflows/unit-tests.yml
Due: format, html-yml-json-lint

Publish junit report on unit tests
  .github/workflows/unit-tests.yml
  vitest.config.ts
Due: format, typecheck, html-yml-json-lint, js-ts-eslint, test

Enable Codecov Bundle Analysis
  .github/workflows/check-docs.yml
  .github/workflows/checks.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
  .github/workflows/update-readme.yml
  nuxt.config.ts
  package-lock.json
  package.json
  vercel.json
Due: format, typecheck, html-yml-json-lint, js-ts-eslint, test

Add Test Analytics and Bundle Analysis badges
  README.md
Due: format, doc-lint, markdown-lint

Add api tests
  server/api/artist/[artistId].get.ts
  server/api/logos.get.ts
  test/unit/server/api/artist/[artistId].get.test.ts
  test/unit/server/api/genres.get.test.ts
  test/unit/server/api/logos.get.test.ts
Due: format, typecheck, js-ts-eslint, test

Ad loading state and update e2e tests
  app/components/Card/Card.vue
  app/components/Pagination/Pagination.vue
  app/pages/artist/[artistId].vue
  app/pages/index.vue
  package-lock.json
  package.json
  test/e2e/artist.spec.ts
  test/e2e/home.spec.ts
Due: format, typecheck, html-yml-json-lint, js-ts-eslint, test, styles-lint

Remove unused @nuxt/test-utils package
  nuxt.config.ts
  package.json
Due: format, typecheck, html-yml-json-lint, js-ts-eslint, test

Delay click next e2e test
  test/e2e/home.spec.ts
Due: format, typecheck, js-ts-eslint, test

Add e2e wait for happo
  test/e2e/home.spec.ts
Due: format, typecheck, js-ts-eslint, test

Remove app folder from coverage
  vitest.config.ts
Due: format, typecheck, js-ts-eslint, test

Ad api tests
  server/api/logos.get.ts
  test/unit/server/api/artist/[artistId].get.test.ts
  test/unit/server/api/logos.get.test.ts
Due: format, typecheck, js-ts-eslint, test

Add api tests
  README.md
  server/api/artist/[artistId].get.ts
  shared/utils/filter-artists.ts
  shared/utils/filter-logos.ts
  shared/utils/return-background-or-inverse.ts
  test/unit/mock/data.ts
  test/unit/mock/index.ts
  test/unit/server/api/artist/[artistId].get.test.ts
  test/unit/server/api/artists.get.test.ts
  test/unit/server/api/logos.get.test.ts
Due: format, doc-lint, typecheck, markdown-lint, js-ts-eslint, test

Add basic gulp unit test
  eslint.config.mjs
  gulpfile.ts/index.test.js
Due: format, js-ts-eslint, test

Update package-lock.json
  package-lock.json
Due: format, html-yml-json-lint

Bump js-yaml from 4.1.0 to 4.1.1
  package-lock.json
Due: format, html-yml-json-lint

Bump glob from 10.4.5 to 10.5.0
  package-lock.json
Due: format, html-yml-json-lint

Bump @sentry/nuxt
  package-lock.json
  package.json
Due: format, html-yml-json-lint

Set nuxt override for @codecov/nuxt-plugin
  .github/workflows/check-docs.yml
  .github/workflows/checks.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
  .github/workflows/update-readme.yml
  package.json
  vercel.json
Due: format, html-yml-json-lint

Add check-update script
  package.json
Due: format, html-yml-json-lint

Set devEngines
  package-lock.json
  package.json
Due: format, html-yml-json-lint

Create CITATION.cff
  CITATION.cff
Due: format

Remove sentry mask
  sentry.client.config.ts
Due: format, typecheck, js-ts-eslint, test

Fix format
  CITATION.cff
  package-lock.json
  package.json
Due: format, html-yml-json-lint

Path conditions:
  format: any of: *
  doc-lint: any of: *.{md,markdown,mdx}
  typecheck: any of: *.{ts,tsx,vue}
  markdown-lint: any of: *.{md,markdown,mdx}
  html-yml-json-lint: any of: *.{html,yml,yaml,json,jsonc,json5}
  js-ts-eslint: any of: *.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue}
  test: any of: *.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue}
  styles-lint: any of: *.{scss,vue}
